@import url('https://fonts.googleapis.com/css?family=Arimo|Righteous&display=swap');

body {
	color: white;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Arimo', sans-serif;
}
html {
	background: url(images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapperDiv {
	display: center;
	margin-top: 80px;
	width: 80%;
	margin: auto;
}
.pageHeader {
	font-family: 'Righteous', cursive;
	text-align: center;
	margin-top: 40px;
	font-size: 60px;
	text-shadow: 5px 5px 5px gray;
}
.searchRow {
	display: flex;
	flex-basis: 100%;
}

#search {
	flex-basis: 25%;
	margin: 5px 0 5px 0;
	display: center;
	border-radius: 5px;
}
.searchButton {
	flex-basis: 10%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	float: right;
	cursor: pointer;
}

.table-container {
	font-size: 30px;
	margin-top: 100px;
	width: 100%;
	margin: auto;
}

.table-row {
	display: flex;
	display: center;
}
.table-column {
	background-color: rgb(69, 89, 133);
	margin: 2px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.name {
	flex-basis: 20%;
	font-size: 20px;
}
.phone {
	flex-basis: 20%;
	font-size: 20px;
}
.email {
	flex-basis: 20%;
	font-size: 20px;
}
.edit,
.delete,
.contactHistory,
.add-entry-column {
	flex-basis: 5%;
	text-align: center;
	cursor: pointer;
}
.add-entry-column {
	background-color: rgb(130, 212, 104);
}

.delete {
	background-color: rgb(233, 96, 61);
}

/* Modal css begins */
#newPersonModal {
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	z-index: 99;
	top: 50px;
	position: absolute;
	display: center center;
	margin-left: calc(50% - 250px);
	background-color: rgb(130, 184, 228);
}
.modalHeader {
	font-size: 30px;
	font-family: 'Righteous', cursive;
	text-align: center;
}

#newPersonModal input {
	display: block;
	display: center;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px;
	width: 80%;
}

#input-err {
	background-color: rgb(250, 232, 68);
}
#backdrop {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0.8);
	z-index: 50;
	top: 0;
	left: 0;
}

#newPersonCancelBtn {
	background-color: rgb(233, 59, 59);
}

#newPersonSubmitBtn {
	background-color: rgb(162, 241, 116);
}

button {
	padding: 15px;
	border-radius: 5px;
	border: none;
	float: right;
	margin: 5px;
	cursor: pointer;
}

/* button:hover {
	border: blue;
} */

.disable-modal {
	visibility: hidden;
}
.enable-modal {
	visibility: visible;
}

i {
	pointer-events: none;
}

.table-columnName,
.table-columnPhone,
.table-columnEmail {
	background-color: rgb(91, 96, 105);
	margin: 2px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-basis: 20%;
	font-size: 20px;
}

#clearLocalStorageBtn {
	position: absolute;
	right: 10px;
	bottom: 5px;
}
